<div class="file-tree-container">
    <div class="buttons">
        <button id="addButton" class="win98-button"><i class="fas fa-plus"></i> Agregar</button>
        <button id="deleteButton" class="win98-button"><i class="fas fa-minus"></i> Eliminar</button>
    </div>
    <div id="elementsTree">
        <ul>
            <li id="cluster-1">
                <span class="caret">
                    <span class="toggle-icon"><i class="fas fa-plus"></i></span> 
                    <i class="fas fa-folder"></i> Clusters
                </span>
                <ul class="nested">
                    <li id="localhost">
                        <span class="caret">
                            <span class="toggle-icon"><i class="fas fa-plus"></i></span> 
                            <i class="fas fa-server"></i> localhost
                        </span>
                        <ul class="nested">
                            <li id="brokers-localhost">
                                <span class="caret">
                                    <span class="toggle-icon"><i class="fas fa-plus"></i></span> 
                                    <i class="fas fa-database"></i> Brokers
                                </span>
                                <ul class="nested ">
                                    <li id="uno:9092">
                                        <span class="caretli">
                                            <i class="fas fa-network-wired"></i> uno:9092
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li id="topics-localhost">
                                <span class="caret">
                                    <span class="toggle-icon"><i class="fas fa-plus"></i></span> 
                                    <i class="fas fa-stream"></i> Topics
                                </span>
                                <ul class="nested">
                                    <li id="uno">
                                        <span class="caretli">
                                            <i class="fas fa-dot-circle"></i> uno
                                        </span>
                                    </li>
                                    <li id="dos">
                                        <span class="caretli">
                                            <i class="fas fa-dot-circle"></i> dos
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li id="consumers-localhost">
                                <span class="caret">
                                    <span class="toggle-icon"><i class="fas fa-plus"></i></span> 
                                    <i class="fas fa-users"></i> Consumers
                                </span>
                                <ul class="nested">
                                    <li id="test-consumer">
                                        <span class="caretli">
                                            <i class="fas fa-user"></i> test-consumer
                                        </span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
