<div id="contextMenuCluster" class="context-menu" style="display:none;">
    <ul>
        <li>Agregar</li>
    </ul>
</div>


<div id="contextMenuClustersConn" class="context-menu" style="display:none;">
    <ul>
        <li>Conectar</li>
        <li>Desconectar</li>
    </ul>
</div>